@using NetB.Models.DTO
@using System.Collections.Generic
@model IEnumerable<TarefasDTO>
@{
    ViewBag.Title = "Index";
}
@if (Model.Count() <= 0)
{
    <h3>Pesquisa não retornou resultados</h3>
}
else
{
    <script type="text/javascript">

    </script>
    <h2>Bem Vindo ao NetB</h2>


    <table id="tabela" class="table table-striped table-bordered">
        <tr>
            <th>Tarefa</th>
            <th>Projeto</th>
            <th>Descrição</th>
            <th>Responsavel</th>
            <th>Inicio</th>
            <th>Previsão</th>
            <th>Conclusão</th>
            <th>Observações</th>
        </tr>
        <tbody>

            @foreach (var item in Model)
                {
                <tr>
                    <td>@item.nome</td>
                    <td>@item.projeto</td>
                    <td>@item.descricao</td>
                    <td>@item.responsavel_id</td>
                    <td>@Html.Raw(item.inicio!= null ? item.inicio.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td><span style="color:@item.statusCor">@(item.previsao != null ? item.previsao.Value.ToString("dd/MM/yyyy") : "")</span></td>
                    <td>@(item.conclusao != null ? item.conclusao.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>@item.observacoes</td>
                </tr>
            }

        </tbody>
    </table>
}

