@model IEnumerable<NetB.Models.Entidades.Tarefas>
@using System.Web.Script.Serialization;

@{
    Layout = null;
    ViewBag.title = " Lista de Tarefas";
}
<style type="text/css">
    .ui-datepicker {
        background: #fff;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".ui-datepicker").datepicker();
    });
</script>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Responsavel</th>
        <th>Previsão</th>
        <th>Observações</th>
        <th>Dias Projetados</th>
        <th>Custo Projetado</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.nome
            </td>
            <td>
                @item.descricao
            </td>
            <td>
                @foreach (var responsavel in ViewBag.responsavel)
                {
                    if (responsavel.id == item.responsavel_id)
                    {
                        @responsavel.nome;
                    }
                }
            </td>
            <td>@(item.previsao != null ? item.previsao.Value.ToString("dd/MM/yyyy") : "")</td>
            <td>@item.observacoes</td>
            <td>@item.dias_estimados</td>
            <td>@item.valor_estimado</td>
            <td>@item.status</td>
            <td><a href="javascript:void(0);" onclick="BuscaTarefaModal(@item.id);" class="btn btn-warning">Atualizar</a></td>
        </tr>
    }

</table>
<p>

</p>
<div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="titulo" class="modal-title"></h3>
            </div>
            <div class="modal-body" style="height: 400px">
                <input type="hidden" id="numero" />
                <p id="descricao"></p>
                <p id="projeto"></p>
                <label>Responsavel:</label>
                <p>
                    <select id="responsavel">
                        @foreach (var item in ViewBag.responsavel)
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                    </select>
                </p>
                <label>Data de Previsão:</label>
                <p><input type="text" id="datepicker" class="ui-datepicker" /></p>
                <label>Dias Estimados:</label>
                <p><input type="number" id="diasEstimados" /></p>
                <label>Custo Estimado</label>
                <p><input type="number" id="custoEstimado" /></p>
            </div>
            <div class="modal-footer">
                <input type="submit" onclick="GravarTarefa();" class="btn btn-primary" value="Gravar" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

