@model IEnumerable<NetB.Models.Entidades.Usuarios>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Data Cadastro</th>
        <th>Departamento</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nome</td>
            <td>@item.email</td>
            <td>@item.data_cadastro.Date</td>
            @foreach (var d in ViewBag.Departamento)
            {
                if (d.id == item.departamento_id)
                {
                        <td>@d.nome</td>
                }
            }
                <td>
                    @Html.Raw(item.status ? "Ativo" : "Inativo")
                </td>
                <td>
                    <a href="javascript:void(0);" onclick="EditaUsuario(@item.id);">Editar</a>
                    <a href="javascript:void(0);" onclick="DeletaUsuario(@item.id)">Deletar</a>
                </td>
            </tr>
            }
    <div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="titulo" class="modal-title"></h3>
                </div>
                <div class="modal-body" style="height: 400px">
                    <input type="hidden" id="numero" />
                    <p id="descricao"></p>
                    <p id="projeto"></p>
                    <p>
                        <select id="responsavel">
                            @foreach (var item in ViewBag.Departamento)
                            {
                                <option value="@item.id">@item.nome</option>
                            }
                        </select>
                    </p>
                    <p><input type="text" id="datepicker" /></p>
                    <p><input type="submit" onclick="AtualizaTarefa();" class="btn btn-primary" value="Alterar" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</table>

<div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="titulo" class="modal-title">Usuarios</h3>
            </div>
            <div class="modal-body" style="height: 400px">
                <input type="hidden" id="numero" />
                <label>Nome:</label>
                <input type="text" id="nome" />
                <label>Email:</label>
                <input type="email" id="email" />
                <label>Senha:</label>
                <input type="password" id="senha" />
                <label>Departamento</label>
                <p>
                <select id="departamento">
                    @foreach (var item in ViewBag.Departamento)
                    {
                        <option value="@item.id">@item.nome</option>
                    }
                </select>
                </p>
                <p><input type="submit" onclick="AtualizaUsuario();" class="btn btn-primary" value="Atualizar" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
